persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 1Gi
  storageClass:  ${nfs_storageclass}

service:
  type: NodePort
  servicename: web

ingress:
  enabled: true
  hosts:
    - name: ${chartsmuseum_fqdn}
      path: /
      serviceName: web