controller:
  tolerations:
  - effect: NoSchedule
    key: internal-lan
    operator: Exists


speaker:
  tolerations:
  - effect: NoSchedule
    key: internal-lan
    operator: Exists

configInline:
  # The address-pools section lists the IP addresses that MetalLB is
  # allowed to allocate, along with settings for how to advertise
  # those addresses over BGP once assigned. You can have as many
  # address pools as you want.
  address-pools:
  - name: ${metallb_pool_name}
    protocol: layer2
    addresses:
    ${indent(4, yamlencode(metallb_ip_ranges))}
  - name: ${metallb_lan_pool_name}
    protocol: layer2
    addresses:
    ${indent(4, yamlencode(metallb_lan_ip_ranges))}
