image:
  repository: plexinc/pms-docker
  tag: latest
  pullPolicy: Always

claimToken: ${plex_claim_token}

allowedNetworks:
  - 127.0.0.1
  - 192.168.1.0/24

timezone: "UTC-4"

serviceTCP:
  type: LoadBalancer
  port: 32400
  externalTrafficPolicy: Local
  loadBalancerIP: ${plex_metallb_ip}
  annotations:
    metallb.universe.tf/address-pool: ${metallb_lan_pool_name}
    metallb.universe.tf/allow-shared-ip: plex-svc

serviceUDP:
  type: LoadBalancer
  port: 32400
  externalTrafficPolicy: Local
  loadBalancerIP: ${plex_metallb_ip}
  annotations:
    metallb.universe.tf/address-pool: ${metallb_lan_pool_name}
    metallb.universe.tf/allow-shared-ip: plex-svc

# ingress:
#   enabled: true
#   hosts:
#     - ${plex_fqdn}
#   path: /
  
persistence:
  data:
    storageClass: ${nfs_storageclass}
    size: 1Gi
  extraMounts:
    - name: family
      mountPath: mnt/family
      volume:
        nfs:
          server: ${nas_server_ip}
          path: ${nas_family_path}
          readOnly: true
    - name: safe
      mountPath: mnt/safe
      volume:
        nfs:
          server: ${nas_server_ip}
          path: ${nas_plex_path}
          readOnly: true
    - name: certs
      mountPath: mnt/certs
      volume:
        nfs:
          server: ${nfs_server_ip}
          path: /mnt/certs
          readOnly: true
  config:
    claimName: ${plex_config_pvc}
    # storageClass: ${nfs_storageclass}
    size: 10Gi
    accessMode: ReadWriteOnce

tolerations:
  - effect: NoSchedule
    key: performance
    operator: Exists

nodeSelector:
  performance: "true"

resources:
  limits:
    memory: 6144Mi
  requests:
    memory: 6144Mi