ingress:
    enabled: true
    hosts:
        - host: ${privatebin_fqdn}
          paths: ["/"]

persistence:
    enabled: true
    storageClass: ${nfs_storageclass}
    size: 1Gi


configs:
    conf.php: |-
        [main]
        burnafterreadingselected = true
        discussion = false
        info = ""
        default = "1day"

        opendiscussion = false
        password = true
        fileupload = false
        defaultformatter = "plaintext"
        sizelimit = 10485760
        template = "bootstrap"
        languageselection = false

        [expire]
        default = "1day"

        [expire_options]
        5min = 300
        10min = 600
        1hour = 3600
        1day = 86400
        1week = 604800
        ; Well this is not *exactly* one month, it's 30 days:
        1month = 2592000
        1year = 31536000
        never = 0

        [formatter_options]
        plaintext = "Plain Text"
        syntaxhighlighting = "Source Code"
        markdown = "Markdown"

        [traffic]
        limit = 0
        dir = PATH "data"

        [purge]
        limit = 300
        batchsize = 10
        dir = PATH "data"

        [model]
        class = Filesystem

        [model_options]
        dir = PATH "data"
